span {
    float: left;
    width: 0.7em;
    font-size: 400%;
    font-family: impact;
    line-height: 80%;
    color: coral;
    
}

p {
    font-size: 1em;
    color: black;
    font-family: impact;
}

img {
  border-radius: 25px;
  background: greenyellow;
  padding: 20px;
  width: 1000x;
  height: 500px;
  float: right;
}